.usersContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 10px;
}

.loadMoreButton {
  align-self: center;
  margin-top: 5px;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
