.cardInfoContainer {
  display: flex;
  justify-content: space-between;
  height: 180px;
  width: 1000px;
  background-color: #FFFFFF;
  overflow: hidden;
  padding: 10px;
  gap: 5px;
}

.serviceNameAndDescriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  width: 45%;
}

.reservationTimeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 10px;
  gap: 5px;
  width: 20%;
}

.cancelBookingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 15%;
  gap: 3px;
}

.imageContainer {
  display: flex;
  width: 20%;
  justify-content: center;
}

.tagsContainer {
  margin-top: auto;
}

.button {
  margin-top: auto;
  align-self: center;
  width: 100%;
}

.topStrip {
  display: flex;
  width: 100%;
  min-height: 15px;
  background-color: red;
  padding: 0px;
  margin: 0px;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
  color: white;
}
