.modalContent {
  width: 1200px;
  height: 900px;
  max-width: 1200px !important;
}

.serviceContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.serviceName {
  font-size: 25px;
  font-weight: bold;
}

.serviceDescription {
  font-size: 20px;
}

.imageContainer {
  display: flex;
  width: 70%;
  justify-content: center;
}

.tagsContainer {
  margin-top: auto;
  width: 100%;
}

.nameAndDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 78%;
  gap: 5px;
}

.imageAndTagsContainer {
  display: flex;
  flex-direction: column;
  width: 22%;
  align-items: center;
  justify-content: space-between;
}

.bookingDateContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  padding-top: 20px;
}

.dateSelectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.calendarContainer {
  width: 770px;
  height: 510px;
}

.input {
  margin-bottom: 200px;
}
