.modalContent {
  width: 1200px;
  height: 900px;
  max-width: 1200px !important;
}

.serviceContainer {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  height: 195px;
}

.serviceName {
  font-size: 25px;
  font-weight: bold;
}

.serviceDescription {
  font-size: 20px;
}

.imageContainer {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.tagsContainer {
  margin: auto;
}

.nameAndDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 45%;
  gap: 5px;
}

.bookingLimitsContainer {
  width: 35%;
  margin-right: auto;
  margin-left: 30px;
  margin-top: 43px;
}

.imageAndTagsContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: flex-start;
  gap: 10px;
  justify-content: space-between;
}

.bookingDateContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
  padding-top: 20px;
}

.dateSelectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.calendarContainer {
  width: 770px;
  height: 510px;
}

.input {
  margin-bottom: 200px;
}
