.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.pageContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  background-color: #E5E5E5;
  padding: 5px;
}