.loggedUserInfoContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 8px;
}

.nameAndBadgesContainer {
  display: flex;
  flex-direction: column;
  margin-right: 7px;
}

.userName {
  align-self: end;
  font-size: 11pt;
}

.badgeStack {
  display: flex;
  margin-top: 0px;
  vertical-align: top;
  justify-content: flex-end;
  gap: 5px;
}
