.servicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  width: 1000px;
  background-color: #FFFFFF;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 4px 0px rgba(214,214,214,1);
  margin-top: 10px;
}

.loadMoreButton {
  align-self: center;
  margin-top: 5px;
}