.serviceNameAndDescriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  width: 60%;
}

.serviceImage {
  object-fit: contain;
  border-radius: 10px;
  vertical-align: center;
}

.imageContainer {
  display: flex;
  width: 20%;
  justify-content: center;
}

.bookingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 20%;
  gap: 3px;
}

.tagsContainer {
  display: flex;
  gap: 5px;
  margin-top: auto;
}

.tagsIcon {
  align-self: center;
}

.iconWithText {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bookingButton {
  margin-top: auto;
  align-self: center;
}