.serviceNameAndDescriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  width: 58%;
}

.imageContainer {
  display: flex;
  width: 20%;
  justify-content: center;
}

.bookingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 22%;
  gap: 3px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
  gap: 5px;
  min-width: 100px;
}

.tagsContainer {
  margin-top: auto;
}
