.serviceNameAndDescriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  width: 60%;
}

.imageContainer {
  display: flex;
  width: 20%;
  justify-content: center;
}

.bookingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20%;
  gap: 3px;
}

.tagsContainer {
  display: flex;
  gap: 5px;
  margin-top: auto;
}

.tagsIcon {
  align-self: center;
}

.bookingButton {
  margin-top: auto;
  align-self: center;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  justify-content: flex-end;
  justify-self: flex-end;
  gap: 2px;
}
