.modalContent {
  width: 600px;
  height: 300px;
  max-width: 600px !important;
  display: flex;
  flex-direction: column;
}

.topBanner {
    display: flex;
    width: 100%;
    background-color: #EC3E3E;
    border-radius: 5px 5px 0px 0px;
    align-items: center;
    justify-content: center;
    height: 30%
}

.confirmationMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.buttonsSectionContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 30%;
}